/* estilos.css */
body {
    background-color: #1b0088;
    color: #ffffff;
}
.navbar {
    background-color: #1b0088;
}
footer {
    background-color: #ffffff;
    color: black;
}
/* Otros estilos comunes aquí */