/* style.css */
body {
    background-color: #1b0088; /* color de fondo primario */
    color: #ffffff; /* color de texto */
}
footer {
    background-color: #ffffff; /* color de fondo de parte inferior de pagina */
    color: black;
}